<h1>Stupid Coaching</h1>


<p><%= params[:question] %></p>

<% if params[:question] == 'I am going to work' %>
  <p><%= 'Great!' %></p>
<% elsif params[:question][-1] == '?' %>
  <p><%= 'Silly question, get dressed and go to work!' %></p>
<% else %>
  <p><%= "I don't care, get dressed and go to work!" %></p>
<% end %>

<%= link_to 'Ask', ask_path %>

